/* --------------------TITLE----------------------------------------- */
.product-section {
    background-color: #f6f6f6;
    height: 100%;
    caret-color: transparent;
}

.product-section__title {
    font-size: 48px;
    color: #100f0f63;
    text-align: center;
    margin: 40px 0 0 0;
    padding: 5px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3:hover {
    background-color: #ffffffe1;
    animation: shake 0.4s infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* --------------------CARD----------------------------------------- */
.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    padding: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 51px;
    box-shadow: 31px 31px 62px #d1d1d1,
        -31px -31px 62px #ffffff;
    height: 450px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 230px;
    object-fit: contain;
    border-radius: 8px;
}

.product-name {
    font-size: 28px;
    margin: 18px 0 3px 0;
}

.product-category {
    font-size: 18px;
    color: #777;
    margin: 0 0 8px 0;
}


.product-price {
    color: #ff3849;
    font-weight: 700;
    font-size: 24px;
    margin: 18px 0 15px 0;
}


button.add-to-cart-button {
    padding: 13px 24px;
    font-size: 18px;
    border-radius: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    margin: 0;
}

.add-to-cart-button:hover {
    background-color: #ececec;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}




/* Responsive */
@media (max-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
        /* Tablet: 2 sản phẩm */
    }
}

@media (max-width: 600px) {
    .product-container {
        grid-template-columns: 1fr;
        /* Mobile: 1 sản phẩm */
    }
}


/* -------------------------PAGINATION----------------------------------------------------------- */

/* Container */
.ant-pagination {
    display: flex;
    justify-content: center;
    margin: 50px 0 60px 0;
}

/* Nút số trang */
.ant-pagination-item {
    border-radius: 8px !important;
    border: 1px solid #ddd !important;
    margin: 0 4px !important;
    transition: all 0.3s ease;
    min-width: 45px !important;
    height: 45px !important;
    font-size: 18px !important;
    line-height: 43px !important;
}

.ant-pagination-item:hover {
    border-color: #000000 !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Trang hiện tại */
.ant-pagination-item-active {
    background-color: #b3b3b3d5 !important;
    border-color: #ffffff !important;
}

.ant-pagination-item-active a {
    color: #ffffff !important;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    border-radius: 8px !important;
    border: 1px solid #ddd !important;
    min-width: 45px !important;
    height: 45px !important;
    font-size: 15px !important;
    line-height: 43px !important;
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
    border-color: #000000 !important;
    color: #000000 !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}